<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/40061f4f-60c5-48b4-b795-2f4955a2c403/resourceGroups/MSA2020/providers/Microsoft.Web/sites/MSAphaseOne</ResourceId>
    <ResourceGroup>MSA2020</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>http://msaphaseone.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>msaphaseone.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MSAphaseOne</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MSAphaseOne</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>